body{
  font-family: 'Open Sans Condensed', sans-serif;
}
.row{
  margin: 0;
}
#startSection{
  height: 100vh;
  background-color: #1b242f;
}
.startWelcome{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: #FFF;
}
h2{
  font-weight: 700;
  font-size: 2.5em;
}
.text-highlight{
  color: #04c2c9;
}
.know-me-btn{
  margin-top: 3em;
  font-weight: bolder;
}
.fa-angle-right{
  vertical-align: -3px;
  font-size: 1.4em;
  margin-left: 0.3em;
  transition: transform ease 0.5s; 
}
.navbar-brand{
  font-size: 1.5em;
  font-weight: 700;
}
#about{
  padding: 5em 0 10em 0;
  min-height: 100vh;
  color: #1b242f;
  font-size: 1.2em;
}
.my-img{
  width: 50%;
  padding:25%;
  background-color: #1b242f;
  border-radius: 50%;
  margin: 2em;
}
#skills{
  padding-top: 4em;
  min-height: 100vh;
  background-color: pink;
}
#portfolio{
  padding-top: 4em;
  min-height: 100vh;
  background-color: lightgreen;
}
#contact{
  padding-top: 4em;
  height: 90vh;
  background-color: lightgrey;
}
.btn{
  transition: ease all 1s;
}
footer{
  height: 10vh;
  background-color: grey;
}
.sticky {
  transition: all .2s ease-in-out;
  position: static;
  padding: 2.5vh 5vw;
  z-index: 1;
  background-color: #FFF;
  letter-spacing: 0.1em;
}
.stuck {
  position: fixed;
  top: 0;
  padding: 0.5vh 5vw;
  min-height: 0;
  width: 100%;
  background-color: #1b242f;
  outline: 0.4em solid #FFF;
  letter-spacing: 0.1em;
}
.sticky.navbar-light .navbar-nav .nav-link{
  color: #1b242f;
}
.sticky.navbar-light .navbar-brand {
  color: #1b242f;
}
.sticky.navbar-light .navbar-nav .nav-link:hover{
/*   color: #e31b6d; */
  font-weight: 700;
}
.stuck.navbar-light .navbar-nav .nav-link{
  color: #FFF;
}
.stuck.navbar-light .navbar-brand {
  color: #04c2c9;
}
.stuck i.fas.fa-bars {
  color: #FFF;
}
.portfolioContainer {
  width: 68%;
  margin: 3em auto 0;
  position: relative;
  height: 3em;
}
.portfolioContainer ul{
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
}
.portfolioContainer ul li {
  display: inline-block;
  text-align: center;
  width: 33%;
  padding: .75rem 0;
}
.portfolioContainer ul li a {
  margin: 0;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
.portfolioContainer hr {
  height: 3em;
  width: 33%;
  margin: 0;
  background: tomato;
  border: none;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 0;
}
.results{
  height: 50vh;
  background-color: pink;
}
.hover-underline {
  display: inline-block;
  user-select: none;
  position: relative;
  text-transform: uppercase;
  color: #333;
  padding: 0.5em 0;
  text-decoration: none;
}
.hover-underline::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0.2em;
  opacity: 0;
  background: #04c2c9;
  transition: all 400ms cubic-bezier(0.4, 1.6, 0.15, 0.9);
}
.hover-underline:hover::after{
  left: 0;
  width: 100%;
  opacity: 1;
}